html,
body,
#app {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	background-color: #eeeeee;
	height: 100%;
}

.primary-color {
	color: #227c9d;
}

.delete-color {
	color: #dc3545;
}

.btn-custom {
	font-weight: bold;
	border-radius: 20px;
	padding: 0.5rem 2rem;
	cursor: pointer;
}

.btn-custom-primary {
	color: #227c9d;
	background-color: #fff;

	border: 1px solid #227c9d;
}

.btn-custom-primary:hover {
	background-color: #227c9d;
	color: #fff;
}

.btn-custom-primary:active {
	background-color: #227c9d;
	color: #fff;
}

.btn-custom-primary:focus {
	background-color: #227c9d;
	color: #fff;
}

.btn-custom-delete {
	background-color: #fff;
	color: #dc3545;
	border: 1px solid #dc3545;
}

.btn-custom-delete:hover {
	background-color: #dc3545;
	color: #fff;
}
.btn-custom-delete:active {
	background-color: #dc3545;
	color: #fff;
}
.btn-custom-delete:focus {
	background-color: #dc3545;
	color: #fff;
}

.form-control:focus {
	border-color: #227c9d !important;
	box-shadow: 0 0 0 0.2rem rgba(34, 124, 157, 0.25) !important;
}
